:root {
  --gray-light: #e9ecef;
  --gray-dark: #ddd;
}

a,
a:hover {
  color: initial;
  text-decoration: none;
}

.card-footer {
  border-top: none;
}

.card {
  border: none;
}

h1.lead {
  font-weight: bold;
  font-size: 50px;
}

p.lead {
  font-weight: normal;
}

footer {
  color: var(--gray-dark);
  background-color: black;
}

footer .footer-link {
  color: #fff;
  display: inline-block;
  text-decoration: underline;
}

.footer-link:hover {
  color: var(--gray-dark);
}

.footer-logo {
  fill: #fff;
  max-width: 40px;
}
.footer-logo:hover {
  fill: var(--gray-dark);
}
