:root {
  --container-width: 760px;
  /* Colors */
  --white: #ffffff;
  --gray: #6c757d;
  --gray-light: #eee;
  --blue-light: #0066c8;
  --blue-dark: #005bb2;
  --gray-dark: #ddd;
  /* Spacings */
  --spacing-5: 50px;
  --spacing-4: 25px;
  --spacing-3: 15px;
  --spacing-1: 10px;
}

/* Overwrites */
p,
h1,
h2,
h3,
figure {
  margin-bottom: var(--spacing-4);
}

h1,
h1.lead,
h2,
h3 {
  font-weight: bold;
}

h1.lead {
  font-size: 50px;
  margin-top: var(--spacing-1);
}

h1 {
  margin-top: var(--spacing-5);
}

h2 {
  margin-top: var(--spacing-4);
}

h3 {
  margin-top: var(--spacing-3);
}

h4 {
  margin-top: var(--spacing-1);
}

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

pre code {
  font-size: 14px;
}

figure img {
  width: 100%;
  height: auto;
  border-radius: 3px;
}

figcaption {
  font-size: 14px;
  color: var(--gray);
  text-align: center;
  margin-bottom: var(--spacing-3);
}

.container {
  width: 80%;
  padding: var(--spacing-5) 0;
  max-width: var(--container-width);
  flex: 1 0 auto;
}

.container .paragraphWidth {
  width: 100%;
}

.container .documentWidth {
  width: 120%;
  margin-left: -10%;
}

.navbar {
  flex: 1 0 auto;
}

.navbar-brand a {
  text-decoration: none;
}

@media (max-width: 1040px) {
  .container .documentWidth {
    width: 110%;
    margin-left: -5%;
  }
}

.container .fullWidth {
  width: 100vw;
  /** (page size + container width) / 2 */
  margin-left: calc((-100vw + var(--container-width)) / 2);
}

@media (max-width: 1040px) {
  .container .fullWidth {
    margin-left: calc((-100vw + 100%) / 2);
  }
}

/** Button */
.fixed-bottom {
  left: initial;
  width: 250px;
}

.nowrap {
  white-space: nowrap;
}

.show {
  opacity: 1;
}

.gtexample-src {
  resize: vertical;
  overflow: auto;
  border: none;
  border-radius: 0px;
  box-shadow: -2px 5px 20px #ccc;
  margin-bottom: 20px;
  padding: 10px;
  background: #eee;
}

.hljs {
  background: #eee !important;
}

.btn-default {
  background: var(--gray-light);
}

a.btn {
  padding: 14px 24px;
  text-decoration: none;
  border: 1px solid #ddd;
  font-weight: normal;
  border-radius: 4px;
}
a.btn:focus,
a.btn.active:focus,
a.btn.active:focus {
  outline: 0 none;
}
a.btn img {
  max-height: 30px;
  max-width: none;
  display: inline;
}

a {
  text-decoration: underline;
  color: black;
}
a:hover {
  text-decoration: none;
  background-color: #ddd;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
}
a.active {
  background-color: var(--gray);
}

footer {
  color: var(--gray-dark);
  background-color: black;
}

footer .footer-link {
  color: #fff;
  /*   display: inline-block; */
}

.footer-link:hover {
  color: var(--gray-dark);
  background-color: transparent;
}

.footer-logo {
  fill: #fff;
  max-width: 40px;
}
.footer-logo:hover {
  fill: var(--gray-dark);
}

footer a:hover {
  background-color: transparent;
}
