/*
    Common styling
 */

:root {
    --active-color: #eee;
    --hovered-color: #ddd;
    --text-color: black;
    --link-text-color: var(--text-color);
    --link-indent: 1rem;
}

/* Link styling */
a {
    text-decoration: underline;
    color: var(--link-text-color);
}

a:hover {
    text-decoration: none;
    color: var(--link-text-color);
    background-color: var(--hovered-color);
}

a.active {
    background-color: var(--active-color)
}

/*
    Navigation index
*/

/* Header */
.le-logo {
    margin-block: 0.5rem;
}
.le-logo-g {
    font-weight: lighter;
}
.le-logo-t {
    font-weight: bold;
}
.le-logo-book {
    font-weight: bold;
}
.le-logo-version {
    font-weight: lighter;
}

/* Make the navigation list scrollable */
.le-nav-scrollable {
    max-height: 100vh;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    font-size: 0.8rem;
    color: var(--text-color);
    border-right: solid var(--active-color) thin;
}

/* navigation links */
a {
    text-decoration: none;
}

/* The root index items are separated */
.le-nav-item.le-nav-level-1 {
    padding-bottom: 1em;
}

/* The root index items are bold */
.le-nav-link.le-nav-level-1 {
    font-weight: bold;
}

/* Indent inner-navigation index links */
.le-nav-link.le-nav-level-2  {
    padding-left: calc(2 * var(--link-indent));
}

.le-nav-link.le-nav-level-3  {
    padding-left: calc(3 * var(--link-indent));
}

.le-nav-link.le-nav-level-4  {
    padding-left: calc(4 * var(--link-indent));
}

.le-nav-link.le-nav-level-5  {
    padding-left: calc(5 * var(--link-indent));
}

.le-nav-link.le-nav-level-6  {
    padding-left: calc(6 * var(--link-indent));
}

.le-nav-link.le-nav-level-7  {
    padding-left: calc(7 * var(--link-indent));
}

.le-nav-link.le-nav-level-8  {
    padding-left: calc(8 * var(--link-indent));
}

.le-nav-link.le-nav-level-9  {
    padding-left: calc(9 * var(--link-indent));
}

/*
    Footer
*/

.le-footer {
    background-color: black;
    color: white;
}

.le-footer a {
    text-decoration: underline;
    color: inherit;
}

/*
    Content
*/

.le-main-title {
    font-weight: bold;
}
